<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crete new post</title>
</head> 
<body>
    <!-- action me jisko request bhejna hai usko likho -->
    <!-- method me post ko likho -->
    <form method="post" action="/posts">  
      <input placeholder="enter username" name="username"/><br>
      <textarea placeholder="enter content" name="content"></textarea> <br>
      <button>submit</button>
    </form>
</body>
</html>