<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>show the details</title>
    <link rel="stylesheet" href="/styles.css"/>
</head>
<body>
    <h2>the details of the requested id are</h2>
    <p>post id:<%=post.id%> </p>
    <div class="post">
    <h3 class="h3">post name: <%=post.username%></h3>
    <h4 class="h4">post content: <%=post.content%></h4> 
    </div>  
</body>
</html>